.u-section-1 .u-sheet-1 {
  min-height: 788px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-1 .u-image-1 {
  width: 303px;
  height: 303px;
  margin: 135px auto 0;
}

.u-section-1 .u-text-2 {
  margin: 22px auto 0;
}

.u-section-1 .u-text-3 {
  line-height: 1.8;
  width: 680px;
  margin: 20px auto 60px;
}

@media (max-width: 767px) {
  .u-section-1 .u-text-3 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-3 {
    width: 340px;
  }
}